Repository Ranisans/belarus-writers: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint:fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
  "{*.{json,md}}": ["prettier --write", "git add"]
}

fix: apply eslint rules
  src/components/Navbar/TopBar/LinguisticList.tsx
Due: npm run lint:fix

fix: conflict file
  package-lock.json
Due: none

refactor: delete unnecessary global.scss
  static/global.scss
Due: prettier --write, stylelint --fix

frat: remove some rules from commit
  .lintstagedrc
Due: none

Create Writers “якуб-колас-1”
  src/pages/writers/якуб-колас-1.md
Due: none

Create Writers “якуб-колас-2”
  src/pages/writers/якуб-колас-2.md
Due: none

Update Writers “якуб-колас-1”
  src/pages/writers/якуб-колас-1.md
Due: none

fetat: add a check if some data in the writer record doesn't exist
  src/templates/writer.tsx
Due: npm run lint:fix

feat: delete package-lock.json
  package-lock.json
Due: none

fix: fix footer
  src/components/Layout.tsx
Due: npm run lint:fix

fix: git test :( / del unused import
  src/components/Navbar/DrawerList/DrawerList.tsx
  src/components/Navbar/DrawerList/MobileDrawer.tsx
  src/components/Navbar/Navbar.tsx
  src/components/Navbar/TopBar/TopBar.tsx
Due: npm run lint:fix

feat: add favicon, configure gatsby-config.js and delete unnecessary images
  gatsby-config.js
  package-lock.json
  package.json
  static/img/321312.jpg
  static/img/apple-touch-icon.png
  static/img/blog-index.jpg
  static/img/chemex.jpg
  static/img/coffee-gear.png
  static/img/coffee.png
  static/img/eve2.jpg
  static/img/favicon-16x16.png
  static/img/favicon-32x32.png
  static/img/favicon.png
  static/img/flavor_wheel.jpg
  static/img/home-jumbotron.jpg
  static/img/img1.jpg
  static/img/jumbotron.jpg
  static/img/meeting-space.png
  static/img/og-image.jpg
  static/img/products-full-width.jpg
  static/img/products-grid1.jpg
  static/img/products-grid2.jpg
  static/img/products-grid3.jpg
  static/img/project.jpg
  static/img/tutorials.png
  static/img/гргтштщ3.jpg
  static/img/руфв.jpg
  static/img/фыв6666.jpg
  static/img/шьп2.jpg
Due: npm run lint:fix

refactor: delete unnecessary files
  static/img/favicon-16x16.png
Due: none

Create Writers “адам-мицкевич”
  src/pages/writers/адам-мицкевич.md
  static/img/Adam_Mickiewicz.PNG
  static/img/Adam_Mickiewicz.jpg
  static/img/Mickiewicz postage stamp.jpg
Due: none

Add Writers “adam-mickiewicz”
  src/pages/writers/adam-mickiewicz.md
  static/img/Pomnik_Adama_Mickiewicza_w_Warszawie.jpg
Due: none

Create Writers “адам-міцкевіч”
  src/pages/writers/адам-міцкевіч.md
  static/img/Adam_Mickiewicz_by_Józef_Oleszkiewicz.jpg
  static/img/Pomnik_Adamu_Mickieviču,_Miensk.jpg
Due: none

feat: add a connection between writer on the list page and personal page
  src/components/WriterCard.tsx
  src/pages/writers.tsx
  src/types/index.ts
Due: npm run lint:fix

fix: fix adam_mickiewicz born place
  src/pages/writers/adam-mickiewicz.md
  src/pages/writers/адам-мицкевич.md
Due: none

fix: fix timeline date field we have no dateStart and dateEnd, only - date
  src/components/Timeline/Timeline.tsx
  src/templates/writer.tsx
  src/types/index.ts
Due: npm run lint:fix

feat: styling navbar change background and mobile view
  src/components/Navbar/DrawerList/DrawerList.tsx
  src/components/Navbar/DrawerList/MobileDrawer.tsx
  src/components/Navbar/Navbar.tsx
  src/templates/writer.tsx
  static/img/bg.jpg
  static/themes/theme.ts
Due: npm run lint:fix

feat: add redirect to page 404 if data doesn't exist
  src/templates/writer.tsx
Due: npm run lint:fix

feat: ctyling DrawerList
  src/components/Navbar/DrawerList/DrawerList.tsx
Due: npm run lint:fix

feat: change translate icon
  src/components/Navbar/TopBar/LinguisticList.tsx
  src/components/Navbar/TopBar/TopBar.tsx
Due: npm run lint:fix

Add link to writer page, redirect to page 404, fixes (#60)
  src/components/Timeline/Timeline.tsx
  src/components/WriterCard.tsx
  src/pages/writers.tsx
  src/pages/writers/adam-mickiewicz.md
  src/pages/writers/адам-мицкевич.md
  src/templates/writer.tsx
  src/types/index.ts
Due: npm run lint:fix

Create Writers “алесь-адамович”
  src/pages/writers/алесь-адамович.md
  static/img/adamovich.jpg
Due: none

Update Writers “алесь-адамович”
  src/pages/writers/алесь-адамович.md
Due: none

Update Writers “алесь-адамович”
  src/pages/writers/алесь-адамович.md
  static/img/ales-1.jpg
  static/img/ales-2.jpg
  static/img/ales-3.jpg
  static/img/ales-4.jpg
  static/img/ales-5.jpg
Due: none

fix: add padding to main, add new icon to lang choosing
  src/components/Layout.tsx
  src/components/Navbar/TopBar/LinguisticList.tsx
  src/components/Navbar/TopBar/TopBar.tsx
Due: npm run lint:fix

refactor: restyle litle bg of label in writers page
  src/components/WriterCard.tsx
Due: npm run lint:fix

fix: date in Ivan Melezes in all langs
  src/pages/writers/ivan-pavlovich-melez.md
  src/pages/writers/Іван-паўлавіч-мележ.md
  src/pages/writers/иван-павлович-мележ.md
  src/pages/writers/иван-петрович-шамякин.md
  static/img/background/background1.jpg
  static/img/background/background2.jpg
  static/img/background/background3.jpg
  static/img/background/background4.jpg
  static/img/shamiakin_portrait.jpg
Due: none

feat: create maksim tank in english
  src/pages/writers/maksim-tank.md
  src/pages/writers/svetlana-alexievich.md
  src/pages/writers/максим-танк.md
  src/pages/writers/максім-танк.md
  src/pages/writers/светлана-алексиевич.md
  src/pages/writers/святлана-аляксиевич.md
  static/img/alexievich-belarussian.jpg
  static/img/alexievich-chernobyl.jpg
  static/img/alexievich-nobel.jpg
  static/img/alexievich-portrait.jpg
  static/img/maksim-tank-biography.jpg
  static/img/maksim-tank-monument.jpg
  static/img/maksim-tank-portrait.jpg
  static/img/maksim-tank-protocol.jpg
  yarn.lock
Due: none

feat: add info about shamiakin
  src/pages/writers/иван-петрович-шамякин.md
  static/img/shamiakin_0.jpg
  static/img/shamiakin_1.jpg
  static/img/shamiakin_2.jpg
  static/img/shamiakin_3.jpg
Due: none

fix: fix errors
  src/pages/writers/svetlana-alexievich.md
  src/pages/writers/светлана-алексиевич.md
  src/pages/writers/святлана-аляксиевич.md
Due: none

feat: add some info about shemiakin. not all
  src/pages/writers/иван-петрович-шамякин copy 2.md
  src/pages/writers/иван-петрович-шамякин copy.md
Due: none

fix: fix information
  src/pages/writers/maksim-tank.md
  src/pages/writers/svetlana-alexievich.md
  src/pages/writers/максим-танк.md
  src/pages/writers/максім-танк.md
  src/pages/writers/светлана-алексиевич.md
  src/pages/writers/святлана-аляксиевич.md
Due: none

Create Writers “алесь-адамовіч”
  src/pages/writers/алесь-адамовіч.md
Due: none

Create Writers “ales-adamovich”
  src/pages/writers/ales-adamovich.md
Due: none

fix: bugs to build
  src/pages/map.tsx
  src/pages/writers/Ivan-petrovich-shamyakin.md
  src/pages/writers/ivan-pavlovich-melez.md
  src/pages/writers/Іван-паўлавіч-мележ.md
  src/pages/writers/Іван-пятровіч-шамякін.md
  src/pages/writers/адам-мицкевич.md
  src/pages/writers/алесь-адамович.md
  src/pages/writers/иван-павлович-мележ.md
  src/pages/writers/иван-петрович-шамякин copy 2.md
  src/pages/writers/иван-петрович-шамякин.md
Due: npm run lint:fix

fix: deleted unnecessary images
  static/img/logo.svg
  static/img/safari-pinned-tab.svg
Due: none

fix: favicon image
  static/img/favicon.png
Due: none
