Repository Ranisans/belarus-writers: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

feat: add yanka kupala BY
  src/pages/writers/янка-купала-іван.md
Due: none

fix: fix
  src/pages/writers/янка-купала-иван.md
Due: none

feat: janka bryl
  src/pages/writers/janka-bryl-by.md
  src/pages/writers/janka-bryl-en.md
  src/pages/writers/janka-bryl-ru.md
  static/img/1-janka-bryl_1985.jpg
Due: none

feat: add yanka kupala EN
  src/pages/writers/yanka-kupala-ivan.md
Due: none

feat: add yanka kupala images
  static/img/Yanka_Kupala.jpg
  static/img/kupala_0.jpg
  static/img/kupala_1.jpg
  static/img/kupala_2.jpg
  static/img/kupala_3.JPG
Due: none

fix: fix tabIndex for team page
  src/pages/team.tsx
Due: npm run lint:fix

feat: add somewhere addons action, knobs, jsx
  .storybook/addons.js
  node_modules.d.ts
  src/components/Search.tsx
  stories/02-Typography.stories.tsx
  stories/03-Button.stories.tsx
  stories/04-Input.stories.tsx
Due: npm run lint:fix

feat: fill writers name in worklog
  src/data/worklog.tsx
Due: npm run lint:fix

feat: worklog data (Oksana)
  src/data/worklog.tsx
Due: npm run lint:fix

feat: add theme file
  .storybook/portalLightTheme.js
Due: npm run lint:fix

feeat: add a link to the style guide in the mobile version
  src/components/Navbar/DrawerList/DrawerList.tsx
  src/components/Navbar/DrawerList/MobileDrawer.tsx
  src/components/Navbar/Navbar.tsx
Due: npm run lint:fix

fix: set real belarusian code
  gatsby-config.js
  src/components/Navbar/TopBar/LinguisticList.tsx
  src/intl/be.json
  src/pages/writers/janka-bryl-by.md
  src/pages/writers/Іван-паўлавіч-мележ.md
  src/pages/writers/Іван-пятровіч-шамякін.md
  src/pages/writers/адам-міцкевіч.md
  src/pages/writers/алесь-адамовіч-1.md
  src/pages/writers/быкаў-васіль-уладзіміравіч.md
  src/pages/writers/максім-танк.md
  src/pages/writers/ніл-гілевіч.md
  src/pages/writers/пятрусь-броўка.md
  src/pages/writers/святлана-аляксіевіч.md
  src/pages/writers/якуб-колас-2.md
  src/templates/writer.tsx
  static/admin/config.yml
Due: npm run lint:fix

feat: add theming for storybook
  .storybook/addons.js
  .storybook/manager.js
  .storybook/portalLightTheme.js
Due: npm run lint:fix

feat: translate hours to Russian, change team member position, fix bug with dots in label
  src/components/Worklog/Chart.tsx
  src/data/team.tsx
Due: npm run lint:fix

change by / be
  src/pages/writers/янка-купала-іван.md
Due: none

feat: add icon for worklist
  src/components/WorksList.tsx
Due: npm run lint:fix

refactor: delete JSX vewing addon
  .storybook/config.js
  .storybook/manager.js
  .storybook/portalLightTheme.js
  package.json
  stories/02-Typography.stories.tsx
  stories/03-Button.stories.tsx
  stories/04-Input.stories.tsx
Due: npm run lint:fix

feat: add action in input and arrow in welcome page
  .storybook/styles-assets/arrow.png
  .storybook/styles-assets/arrow.scss
  .storybook/welcomeStory.js
  stories/04-Input.stories.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

feat: add info on worklog page
  src/components/Difficulties.tsx
  src/components/Evaluation.tsx
  src/data/difficulties.ts
  src/data/evaluation.ts
  src/pages/worklog.tsx
  src/types/index.ts
Due: npm run lint:fix

fix: yakub kolas 1 coordinates
  src/pages/writers/якуб-колас-1.md
  src/pages/writers/якуб-колас-2.md
  src/pages/writers/якуб-колас.md
Due: none

refactor: change animation navbar
  src/components/Navbar/TopBar/LinguisticList.tsx
  src/components/Navbar/TopBar/TopBar.tsx
Due: npm run lint:fix

fix: worklog Yauheni Vaniushyn
  src/data/worklog.tsx
Due: npm run lint:fix

Update святлана-аляксіевіч.md
  src/pages/writers/святлана-аляксіевіч.md
Due: none

fix: fix scrolling by x on a writer page fix eslint errors
  src/components/Difficulties.tsx
  src/components/Evaluation.tsx
  src/components/Layout.tsx
  src/components/Worklog/Chart.tsx
Due: npm run lint:fix

fix: small fixes
  src/data/difficulties.ts
  src/data/evaluation.ts
Due: npm run lint:fix

fix: close bug with a not open page on Belarus language
  package.json
Due: none

Update Writers “janka-bryl-by”
  src/pages/writers/janka-bryl-by.md
  static/img/ianka-bryl.jpeg
Due: none

Update Writers “janka-bryl-en”
  src/pages/writers/janka-bryl-en.md
Due: none

Update Writers “janka-bryl-ru”
  src/pages/writers/janka-bryl-ru.md
Due: none

Update Writers “янка-купала-іван”
  src/pages/writers/янка-купала-іван.md
  static/img/kupala.jpg
Due: none

Update Writers “янка-купала-иван”
  src/pages/writers/янка-купала-иван.md
Due: none

Update Writers “yanka-kupala-ivan”
  src/pages/writers/yanka-kupala-ivan.md
Due: none

feat: update dependencies
  package.json
Due: none

Update README.md
  README.md
Due: none

000
  src/data/difficulties.ts
Due: npm run lint:fix

111
  src/data/difficulties.ts
Due: npm run lint:fix

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.scss
