Repository Ranisans/belarus-writers: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint:fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
  "{*.{json,md}}": ["prettier --write", "git add"]
}

feat: add video type
  src/types/index.ts
Due: npm run lint:fix

fix: video component path
  src/components/Video.tsx
  src/templates/writer.tsx
Due: npm run lint:fix

refactor: replace model in types
  src/data/team.tsx
  src/models/teamMemberModel.ts
  src/pages/team.tsx
  src/types/index.ts
Due: npm run lint:fix

feat: type for video
  src/types/index.ts
Due: npm run lint:fix

Update Writers “bykov-vasily-vladimirovich”
  src/pages/writers/bykov-vasily-vladimirovich.md
Due: none

Update Writers “быкаў-васіль-уладзіміравіч”
  src/pages/writers/быкаў-васіль-уладзіміравіч.md
Due: none

feat: add storybook config
  .storybook/addons.js
  .storybook/config.js
  .storybook/main.js
  .storybook/tsconfig.json
  .storybook/webpack.config.js
  .storybook/welcomeStory.js
  package.json
  stories/0-Welcome.stories.tsx
  stories/1-Button.stories.tsx
Due: npm run lint:fix

feat: add Typography
  .storybook/config.js
  .storybook/main.js
  .storybook/welcomeStory.js
  package.json
  src/components/Gallery/Gallery.tsx
  src/components/Gallery/GalleryStyle.scss
  src/components/Layout.tsx
  src/components/Navbar/Navbar.tsx
  stories/1-Button.stories.tsx
  stories/2-Typography.stories.tsx
  stories/3-Gallery.stories.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

feat(stories): add WorkList
  stories/2-WorksList.stories.tsx
Due: npm run lint:fix

feat: add Gallery componnet in story
  .storybook/main.js
  _headers
  src/components/Gallery/Gallery.tsx
  stories/3-Gallery.stories.tsx
Due: npm run lint:fix

feat: add Timeline to story
  stories/4-Timeline.stories.tsx
Due: npm run lint:fix

feat: before build
  .storybook/main.js
  src/components/Navbar/TopBar/TopBar.tsx
  stories/3-Gallery.stories.tsx
  storybook-static/asset-manifest.json
  storybook-static/favicon.ico
  storybook-static/fonts/3a9cab958336447e397ee6165f9f8597.woff
  storybook-static/fonts/4570850e0d1ef0a3dd804e437e378795.woff
  storybook-static/fonts/62c0aed1be3788af52079fc0d352394f.woff2
  storybook-static/fonts/7eaa05aa8b11ed5eff8c17090a0154b3.woff
  storybook-static/fonts/96f9a12cedf01a2959a4d5e0c0de7635.woff
  storybook-static/fonts/9e601f5082a5c5921aebba6d69657d9a.woff2
  storybook-static/fonts/b691b16173075166d492a0aee25c0da8.woff2
  storybook-static/fonts/f18c72264c2af968d7458dcdd83fcbed.woff2
  storybook-static/iframe.html
  storybook-static/images/2dd5359db8c80dc095b1e8efc62b1a75.jpg
  storybook-static/images/be2e955a0d280844b54a4ac3cec1428e.jpg
  storybook-static/index.html
  storybook-static/main.951798c3335076317f40.bundle.js
  storybook-static/main.951798c3335076317f40.bundle.js.map
  storybook-static/main.dc4be2039e0175199443.bundle.js
  storybook-static/precache-manifest.16443a70f5901fa2b34ca8a6e71938bb.js
  storybook-static/runtime~main.6b70b35614cf83eab770.bundle.js
  storybook-static/runtime~main.951798c3335076317f40.bundle.js
  storybook-static/runtime~main.951798c3335076317f40.bundle.js.map
  storybook-static/sb_dll/storybook_ui-manifest.json
  storybook-static/sb_dll/storybook_ui_dll.LICENCE
  storybook-static/sb_dll/storybook_ui_dll.js
  storybook-static/service-worker.js
  storybook-static/static/css/main.bdc4efd4.chunk.css
  storybook-static/static/css/main.bdc4efd4.chunk.css.map
  storybook-static/static/css/vendors~main.053a62db.chunk.css
  storybook-static/static/css/vendors~main.053a62db.chunk.css.map
  storybook-static/vendors~main.415d35862c2a8c419bdf.bundle.js
  storybook-static/vendors~main.951798c3335076317f40.bundle.js
  storybook-static/vendors~main.951798c3335076317f40.bundle.js.LICENSE.txt
  storybook-static/vendors~main.951798c3335076317f40.bundle.js.map
Due: npm run lint:fix

feat: delete hasky
  .huskyrc
  .lintstagedrc
Due: none

feat: nothing work again
  src/components/Video.tsx
  src/pages/team.tsx
  src/types/index.ts
  stories/3-Gallery.stories.tsx
  stories/5-WorksList.stories.tsx
  stories/6-Video.stories.tsx
  stories/7-WriterCard.stories.tsx
  stories/8-Search.stories.tsx
  stories/9-Navbar.stories.tsx
Due: npm run lint:fix

feat: working state. I gave up with Navbar
  .storybook/main.js
  stories/9-Navbar.stories.tsx
Due: npm run lint:fix

feat: add some info in worklog
  src/components/Video.tsx
  src/data/worklog.tsx
  src/types/index.ts
Due: npm run lint:fix

feat: add link to team page
  src/components/Navbar/Navbar.tsx
Due: npm run lint:fix

refact: move tabsName to data folder
  src/data/tabsName.ts
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/style-guide.tsx
  src/pages/team.tsx
  src/pages/worklog.tsx
  src/pages/writers.tsx
  src/templates/writer.tsx
Due: npm run lint:fix

refact: remove not needed images
  gatsby-config.js
  src/img/github-icon.svg
  src/img/logo.svg
  src/img/social/facebook.svg
  src/img/social/instagram.svg
  src/img/social/twitter.svg
  src/img/social/vimeo.svg
Due: npm run lint:fix

feat: add welcome header
  .storybook/welcomeStory.js
  src/types/index.ts
  stories/0-Welcome.stories.tsx
  stories/3-Gallery.stories.tsx
Due: npm run lint:fix

refactor: delete theme changing files threat to not realized dream of theme toggling
  src/components/DayNightToggler/DayNightToggler.scss
  src/components/DayNightToggler/DayNightToggler.tsx
  static/themes/theme-dark.ts
Due: npm run lint:fix, prettier --write, stylelint --fix

feat: yakub kolas content
  src/pages/writers/якуб-колас-1.md
  src/pages/writers/якуб-колас-2.md
  src/pages/writers/якуб-колас.md
  static/img/800px-Belarus-Minsk-Yakub_Kolas_Square-2.jpg
  static/img/800px-Дом-музей_Якуба_Коласа_в_Пинске.jpg
  static/img/Niasvizh_Yakub_Kolas.jpg
Due: none

fix: fix text
  src/pages/writers/якуб-колас-1.md
  src/pages/writers/якуб-колас-2.md
  src/pages/writers/якуб-колас.md
Due: none

refactor: styled responsive video
  src/components/Video.tsx
  src/templates/writer.tsx
Due: npm run lint:fix

feat: add story video and teampage
  src/pages/team.tsx
  stories/6-Video.stories.tsx
  stories/7-WriterCard.stories.tsx
  stories/8-Search.stories.tsx
  stories/9-TeamPage.stories.tsx
Due: npm run lint:fix

feat: add stories for input map footer color
  .storybook/welcomeStory.js
  src/pages/writers/ivan-pavlovich-melez.md
  stories/01-Colors.stories.tsx
  stories/02-Typography.stories.tsx
  stories/03-Button.stories.tsx
  stories/04-Input.stories.tsx
  stories/05-Footer.stories.tsx
  stories/06-Timeline.stories.tsx
  stories/07-Map.stories.tsx
  stories/08-Video.stories.tsx
  stories/09-Worklog.stories.tsx
  stories/10-WriterCard.stories.tsx
  stories/9-TeamPage.stories.tsx
Due: npm run lint:fix

fix: remove spaces
  package.json
  src/pages/writers/якуб-колас-1.md
  src/pages/writers/якуб-колас-2.md
Due: none

fix: fix year string
  src/pages/writers/якуб-колас-1.md
  src/pages/writers/якуб-колас-2.md
  src/pages/writers/якуб-колас.md
Due: none

fix: add to git ignore storybook-static folder and remove it from branch
  .gitignore
  README.md
  node_modules.d.ts
  stories/10-Gallery.stories.tsx
  stories/10-WriterCard.stories.tsx
  stories/11-WorksList.stories.tsx
  storybook-static/asset-manifest.json
  storybook-static/iframe.html
  storybook-static/main.951798c3335076317f40.bundle.js
  storybook-static/main.951798c3335076317f40.bundle.js.map
  storybook-static/precache-manifest.16443a70f5901fa2b34ca8a6e71938bb.js
  storybook-static/runtime~main.951798c3335076317f40.bundle.js
  storybook-static/runtime~main.951798c3335076317f40.bundle.js.map
  storybook-static/service-worker.js
  storybook-static/static/css/main.bdc4efd4.chunk.css
  storybook-static/static/css/main.bdc4efd4.chunk.css.map
  storybook-static/vendors~main.951798c3335076317f40.bundle.js
  storybook-static/vendors~main.951798c3335076317f40.bundle.js.LICENSE.txt
  storybook-static/vendors~main.951798c3335076317f40.bundle.js.map
Due: npm run lint:fix

feat: add screenshot
  screenshot.jpg
Due: none

feat: add screenshot img for readma and update readme, add storybook-static folder to gitignore
  .gitignore
  README.md
  static/img/screenshot.jpg
Due: none

fix: fix md-files
  src/pages/writers/якуб-колас-1.md
  src/pages/writers/якуб-колас-2.md
  src/pages/writers/якуб-колас.md
Due: none

fix: style whit adaptiveness
  src/pages/index.tsx
Due: npm run lint:fix

feat: add a link to external style guide page
  src/components/Navbar/Navbar.tsx
  src/components/Navbar/TopBar/TopBar.tsx
  src/pages/style-guide.tsx
Due: npm run lint:fix

fix: disable scroll hiding when changing language
  src/components/Navbar/TopBar/LinguisticList.tsx
Due: npm run lint:fix

fix: fix mobile version for style guide
  package.json
  src/pages/style-guide.tsx
Due: npm run lint:fix

refactor:delete unnecessary styles
  src/components/WriterCard.tsx
  src/pages/writers.tsx
Due: npm run lint:fix

fix: FIX TOPBAR ERROR ( NEED TO TEST)
  src/components/Navbar/TopBar/TopBar.tsx
Due: npm run lint:fix

feat: add yanka kupala RU
  src/pages/writers/янка-купала-иван.md
Due: none

fix: fix alexievich deathDate and video
  src/pages/writers/svetlana-alexievich.md
  src/pages/writers/светлана-алексиевич.md
  src/pages/writers/святлана-аляксіевіч.md
Due: none
